<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">
    <!-- Custom CSS -->
    <link href="css/styles.css" rel="stylesheet">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">My Portfolio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="#about"><img src="../templates/images/icons/about.png" alt="About">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#projects"><img src="../templates/images/icons/project.png" alt="project" id="projectsButton">Projects</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact"><img src="../templates/images/icons/contact.png" alt="contact">Contact</a></li>
            </ul>
        </div>
    </nav>

    <!-- Hero Section -->
    <header class="hero-section text-center text-white">
        <div class="container">
            <h1 class="display-4">Welcome to My Portfolio</h1>
            <p class="lead">Aspiring Data Scientist</p>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6" style="margin-top: 60px;">
                    <h2 data-aos="zoom-out">About Me</h2>
                    <p data-aos="zoom-out">Hello! I'm Akshay Sharma, a passionate data enthusiast on an exciting journey to master the art and science of data analysis and interpretation. With a keen eye for detail and a relentless curiosity, I am currently diving deep into the world of data science. My goal is to transform raw data into meaningful insights that can drive informed decisions and innovative solutions. Whether it's through statistical analysis, machine learning, or data visualization, I'm committed to uncovering the stories hidden within the numbers. Join me as I explore the fascinating landscape of data science and strive to make a tangible impact in this ever-evolving field.</p>
                </div>
                <div class="col-lg-6">
                    <!-- Add your image or animation here -->
                    <img src="../templates/images/person_1(edited).png" class="img-fluid" alt="My Photo"
                        style="width: 280px; height: 380px; margin-left: 200px; margin-bottom: 50px"; data-aos="fade-out">
                </div>
            </div>
        </div>
    </section>

    <!-- Projects Section -->
    <section id="projects" class="py-5 bg-light">
        <div class="container">
            <h1 class="text-center" data-aos="fade-zoom-in">Projects</h1>
            <div class="row">
                <!-- Project 1 -->
                <div class="col" data-aos="fade-right" data-aos-delay="400">
                    <div class="card mb-4 shadow-sm">
                        <img src="../templates/images/bike(edited).jpg" class="card-img-top" alt="Project 1"
                            style="margin-bottom: 0px;">
                        <div class="card-body">
                            <h5 class="card-title">Bike Price Predictor</h5>
                            <p class="card-text">A brief description of your project.</p>
                            <a href="#" class="btn btn-primary btn-custom-width">View Project</a>
                        </div>
                    </div>
                </div>
                <!-- Project 2 -->
                <div class="col" data-aos="fade-right" data-aos-delay="400">
                    <div class="card mb-4 shadow-sm">
                        <img src="../templates/images/customer.jpg" class="card-img-top" alt="Project 2">
                        <div class="card-body">
                            <h5 class="card-title">Customer Satisfaction Predictor</h5>
                            <p class="card-text">A brief description of your project.</p>
                            <a href="#" class="btn btn-primary btn-custom-width">View Project</a>
                        </div>
                    </div>
                </div>
                <!-- Project 3 -->
                <div class="col" data-aos="fade-left" data-aos-delay="400">
                    <div class="card mb-4 shadow-sm">
                        <img src="../templates/images/insurance(edited).jpg" class="card-img-top" alt="Project 3">
                        <div class="card-body">
                            <h5 class="card-title">Insurance</h5>
                            <p class="card-text">A brief description of your project.</p>
                            <a href="#" class="btn btn-primary btn-custom-width">View Project</a>
                        </div>
                    </div>
                </div>
                <!-- Project 4 -->
                <div class="col" data-aos="fade-left" data-aos-delay="500">
                    <div class="card mb-4 shadow-sm">
                        <img src="../templates/images/laptop(edited).jpg" class="card-img-top" alt="Project 3">
                        <div class="card-body">
                            <h5 class="card-title">Laptop Price Predicor</h5>
                            <p class="card-text">A brief description of your project.</p>
                            <a href="#" class="btn btn-primary btn-custom-width">View Project</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="py-5">
        <div class="container">
            <h2 class="text-center">Contact Me</h2>
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <form>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Your Email">
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea class="form-control" id="message" rows="4" placeholder="Your Message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2024 My Portfolio. All Rights Reserved.</p>
    </footer>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Custom JS -->
    <script src="js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

</body>

</html>